* {
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
  }


.header {
    padding: 20px 35px; 
    color: #7B6D8D;
    background-color: #0c350c;
    }
.header img {
    float: right;
    flex-direction: row;
    margin: 0px 200px 100px
    }
.header img {
    border: 5px solid #f4f4f4;
   transform: scale(1.8);
     -webkit-transition-duration: 1s;
   -moz-transition-duration: 1s;
   -o-transition-duration: 1s;
   transition-duration: 1s;
    z-index: 3;
}
.header {
    justify-content: space-between;
    flex-wrap: wrap;
}
.header nav ul li {
    display: inline-flexbox;
    }
.header nav ul li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 2.5vw;
    color: #ffffff;
    }

body {
    background-color: #803123;
    }

header h1 {
    font-weight: bold;
    font-feature-settings: "vrt2" ;
    font-size: 4.5vw;
    color: #ffffff;
    margin: 0;
    display: inline;
  }
 .about-me {
     margin-top: 50px;
    display: flex;
    font-size: 1.5vw;
    justify-content: left;
    flex-wrap: wrap;
     color: #ffffff;
} 

.about-me p {    
     margin-top: 50px;
    display: flex;
    font-size: 1.9vw;
    justify-content: left;
    flex-wrap: wrap;
     color: #ffffff;
    }
.work-samples { font-family: unset;
    margin-top: 50px;
    display: flex;
    font-size: 1.5vw;
    justify-content: left;
    flex-wrap: wrap;
     color: #ffffff;
}
.work-samples article a{
    margin-top: 50px;
    display: flex;
    font-size: 1.5vw;
    justify-content: left;

    flex-wrap: wrap;
    color: rgb(56, 155, 138);
}
.work-samples aside a{
    margin-top: 50px;
    display: flex;
    font-size: 1.2vw;
    justify-content: left;

    flex-wrap: wrap;
    color: rgb(56, 155, 138);
}

.Screenshots {font-family: unset;
    font-size: 20px;
    color: #ffffff;
    }
.resize {
    width: 800px;
    height: auto;
}

.resize {
    width: 500px;
    height: auto;
}
.smaller-size {
    width: 300px;
    height: auto;

}

.contact {font-family: unset;
    font-size: 20px;
    color: #ffffff;}

.contact a {
    color: rgb(56, 155, 138);
}

.footer h4 {
    justify-content: space-between;
    flex-wrap: wrap;
    color:white;
}